<div class="box">
  <h2>
    <span><i class="fa-solid fa-gear"></i></span>Setting
  </h2>

  <div class="des">
    <h3>Cài đặt cho event của bạn</h3>
    <p>hãy tùy chỉnh theo ý của bạn</p>
  </div>

  <div class="list-setting">
    <div class="setting-item">
      <label class="switch" for="setting">
        <input type="checkbox" id="setting" [(ngModel)]="isImmediate" />
        <span class="slider"></span>
      </label>
      <div class="setting-box">
        <h3>Tôi muốn việc đặt chỗ bắt đầu ngay lập tức.</h3>
        <p>
          Tắt tùy chọn này nếu bạn muốn bắt đầu đặt chỗ từ một ngày và giờ cụ
          thể.
        </p>
      </div>
      <div class="model" *ngIf="!isImmediate">
        <div class="detail-setting">
          <h3>Việc đặt chỗ bắt đầu vào...</h3>
          <p>Hãy chỉ định ngày và giờ bạn muốn bắt đầu đặt chỗ.</p>
        </div>

        <h3>Event Date</h3>
        <input type="date" />
        <input type="time" />
      </div>
    </div>

    <div class="setting-item">
      <label class="switch" for="setting">
        <input type="checkbox" id="setting" [(ngModel)]="isImmediate" />
        <span class="slider"></span>
      </label>
      <div class="setting-box">
        <h3>Tôi muốn việc đặt chỗ bắt đầu ngay lập tức.</h3>
        <p>
          Tắt tùy chọn này nếu bạn muốn bắt đầu đặt chỗ từ một ngày và giờ cụ
          thể.
        </p>
      </div>
      <div class="model" *ngIf="!isImmediate">
        <div class="detail-setting">
          <h3>Việc đặt chỗ bắt đầu vào...</h3>
          <p>Hãy chỉ định ngày và giờ bạn muốn bắt đầu đặt chỗ.</p>
        </div>

        <h3>Event Date</h3>
        <input type="date" />
        <input type="time" />
      </div>
    </div>

    <div class="setting-item">
      <label class="switch" for="setting">
        <input type="checkbox" id="setting" [(ngModel)]="isImmediate" />
        <span class="slider"></span>
      </label>
      <div class="setting-box">
        <h3>Tôi muốn việc đặt chỗ bắt đầu ngay lập tức.</h3>
        <p>
          Tắt tùy chọn này nếu bạn muốn bắt đầu đặt chỗ từ một ngày và giờ cụ
          thể.
        </p>
      </div>
      <div class="model" *ngIf="!isImmediate">
        <div class="detail-setting">
          <h3>Việc đặt chỗ bắt đầu vào...</h3>
          <p>Hãy chỉ định ngày và giờ bạn muốn bắt đầu đặt chỗ.</p>
        </div>

        <h3>Event Date</h3>
        <input type="date" />
        <input type="time" />
      </div>
    </div>

    <div class="setting-item">
      <label class="switch" for="setting">
        <input type="checkbox" id="setting" [(ngModel)]="isImmediate" />
        <span class="slider"></span>
      </label>
      <div class="setting-box">
        <h3>Tôi muốn việc đặt chỗ bắt đầu ngay lập tức.</h3>
        <p>
          Tắt tùy chọn này nếu bạn muốn bắt đầu đặt chỗ từ một ngày và giờ cụ
          thể.
        </p>
      </div>
      <div class="model" *ngIf="!isImmediate">
        <div class="detail-setting">
          <h3>Việc đặt chỗ bắt đầu vào...</h3>
          <p>Hãy chỉ định ngày và giờ bạn muốn bắt đầu đặt chỗ.</p>
        </div>

        <h3>Event Date</h3>
        <input type="date" />
        <input type="time" />
      </div>
    </div>
  </div>
</div>
