// header{
//     box-shadow: 0 4px 4px #aaaaaa;
//     position: relative;
//     font-size: 10px;
// }
// .header{
//     width: 100%;
//     max-width: 1280px;
//     display: flex;
//     justify-content: space-between;
//     margin: 0 auto;
//     padding: 10px 20px;
    
// }
// .brand__name{
//     display: flex;
//     gap: 10px;
//     font-size: 1.5rem;
//     align-items: center;
// }
// .brand__name .brand__mark{
//     width: 30px;
//     height: 30px;
//     color: #FFFF;
//     background-color: rgb(127, 194, 127);
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 100%;
//     font-size: 1.5rem;
//     font-weight: 900;
// }
// .header-right{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

.header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    background: #fff;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

.logo-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #3dbb3d;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 10px;
}

.nav {
    display: flex;
    gap: 40px;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.actions {
    display: flex;
    align-items: center;
    gap: 30px;
}

.create-btn {
    background: #3dbb3d;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
}