<!-- <header>
  <div class="header">
    <div class="brand__name"><span class="brand__mark">B</span>Barren</div>

    <div class="header-right">
      <div class="header-nav">
        <ul>
          <li>
            <a href="">
              <span class="nav-item">Home</span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="nav-item">Explore Event</span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="nav-item">Pricing</span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="nav-item">Blog</span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="nav-item">Help</span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="nav-item">Pages</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="header-actice">
        <button class="btn-creat-event">Create Event</button>
        <div class="actice-avatar"></div>
      </div>
    </div>
  </div>
</header> -->
<header class="header">
  <div class="logo">
    <span class="logo-circle">B</span>
    <span class="logo-text">Barren</span>
  </div>

  <nav class="nav">
    <a routerLink="/">Home</a>
    <a>Explore Events</a>
    <a>Pricing</a>
    <a>Blog</a>
    <a>Help</a>
  </nav>

  <div class="actions">
    <button class="create-btn" routerLink="/create-event">Create Event</button>

    <app-user-dropdown></app-user-dropdown>
  </div>
</header>
