<div class="card text-3xl justify-center mt-2">
  <p-breadcrumb [model]="item" />
</div>
<div class="wrapper">
  <!-- Steps -->
  <div class="speet">
    <div class="custom-steps">
      <div 
        *ngFor="let step of steps; let i = index" 
        class="step-item"
        [class.active]="i === activeIndex"
        (click)="onStepClick(i)"
      >
        <div class="step-number">{{ i + 1 }}</div>
        <div class="step-label">{{ step.label }}</div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
<div class="btn-save">
  <button (click)="onNextStep()">Tiếp</button>
</div>
