.events-grid {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.page
{


    display: flex;
    justify-content: center;
    align-items: center;

}

.page .btn-loadmode{
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    border: 0px;
    color: #fff;
    background-color: #3dbb3d;
}


@media(max-width:1024px) {
    .events-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:768px) {
    .events-grid {
        grid-template-columns: 1fr;
    }
}