<div class="box">
  <div class="title"><h2>Loại vé</h2></div>
  <div class="des">
    <h3>
      <span><i class="fa-solid fa-ticket-simple"></i></span> Hãy tạo vé
    </h3>
    <p>Phân loại các giá tiền của vé</p>
  </div>
  <div class="cart">
    <div class="cart-left">
      <div class="cart-title">Tổng(3)</div>
      <div class="cart-btn" id="btn-add"><button>Thêm vế</button></div>
    </div>

    <div class="cart-lits">
      <div class="cart-item">
        <div class="cart-item-text">
          <span><i class="fa-solid fa-ticket"></i></span>
          <div class="cart-item-title">
            <h3>New Small - $10.00</h3>
            <p>May 3, 2022</p>
          </div>
        </div>
        <div class="cart-item-function">
          <label class="switch">
            <input type="checkbox" />
            <span class="slider"></span>
          </label>
          <input id="function" type="checkbox" style="display: none" />
          <div class="cart-item-function-box">
            <label for="function"
              ><span><i class="fa-solid fa-ellipsis-vertical"></i></span
            ></label>
            <div class="action">
              <button>
                <span><i class="fa-solid fa-pen"></i></span> Edit
              </button>
              <button>
                <span><i class="fa-solid fa-trash-can"></i></span> Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
