<div class="card form-card">
  <h2 class="title">
    <span><i class="fa-solid fa-circle-exclamation"></i></span> Chi tiết
  </h2>
  <div class="border"></div>

  <!-- Event Name -->
  <div class="field">
    <label>Hãy đặt tên cho sự kiện của bạn *</label>
    <small class="desc">
      Xem tên sự kiện của bạn hiển thị như thế nào trên trang sự kiện và danh
      sách.
    </small>

    <input
      pInputText
      class="w-full"
      placeholder="Nhập tên sự kiện tại đây"
      [(ngModel)]="value"
    />
  </div>

  <!-- Category -->
  <div class="field">
    <label>Hãy chọn một danh mục cho sự kiện của bạn *</label>
    <small class="desc">
      Việc lựa chọn danh mục phù hợp giúp tăng khả năng hiển thị sự kiện.
    </small>

    <p-dropdown
      [options]="categories"
      optionLabel="Name"
      optionValue="CatetoryId"
      placeholder="Chọn danh mục"
      class="w-full"
      [(ngModel)]="selectedCategory"
    ></p-dropdown>
  </div>

  <!-- Date -->
  <div class="field">
    <label>Sự kiện của bạn diễn ra khi nào? *</label>
    <small class="desc"> Hãy cho mọi người biết ngày diễn ra sự kiện. </small>

    <div class="grid">
      <div class="col-6">
        <label>Ngày diễn ra</label>
        <p-datepicker
          placeholder="MM/DD/YYYY"
          styleClass="w-full"
          [(ngModel)]="eventDate"
        ></p-datepicker>
      </div>

      <div class="col-3">
        <label>Thời gian</label>
        <p-datepicker
          timeOnly="true"
          styleClass="w-full"
          [(ngModel)]="eventTime"
        ></p-datepicker>
      </div>

      <div class="col-3">
        <label>Khoảng thời gian</label>
        <p-select
          [options]="durations"
          styleClass="w-full"
          placeholder="{{ duration }}"
          [(ngModel)]="duration"
        ></p-select>
      </div>
    </div>
  </div>

  <!-- Banner -->
  <div class="field">
    <small class="desc"
      >Tải lên những hình ảnh đầy màu sắc và sống động làm banner cho sự kiện
      của bạn! Xem cách những hình ảnh đẹp mắt giúp trang chi tiết sự kiện của
      bạn nổi bật hơn
    </small>

    <div class="banner">
      <img
        *ngIf="imagePreviewUrl"
        [src]="imagePreviewUrl | imageUrl"
        alt="Banner sự kiện"
        class="banner-preview"
      />

      <div *ngIf="!imagePreviewUrl" class="banner-placeholder">
        Chưa có ảnh banner
      </div>

      <p-toast />
      <div class="upload-box">
        <p-fileupload
          #fu
          mode="basic"
          chooseLabel="Chọn ảnh"
          chooseIcon="pi pi-upload"
          name="demo[]"
          url="https://www.primefaces.org/cdn/api/upload.php"
          accept="image/*"
          maxFileSize="1000000"
          (onSelect)="onSelectImage($event)"
          (onUpload)="onUpload($event)"
        />
      </div>
    </div>

    <!-- Description -->
    <div class="field m-2">
      <small class="desc">Vui lòng mô tả sự kiện của bạn</small>
      <p-editor [(ngModel)]="text" [style]="{ height: '320px' }" />
    </div>
    <div class="field m-2">
      <label class="desc">Nhập địa điểm tổ chức sự kiện</label>
      <input
        pInputText
        class="w-full"
        placeholder="Nhập địa điểm tại đây"
        [(ngModel)]="location"
      />
    </div>
  </div>
</div>
