<h1>Create Event</h1>
<Form>
  <div class="form-row">
    <label for="title">Tiêu đề</label>
    <input name="title" id="title" type="text" placeholder="Nhập tiêu đề" />
  </div>
  <div class="form-row">
    <label for="Catetory">Thể Loại</label>
    <select id="Catetory" name="Catetory">
      <option value="1">Văn Nghệ</option>
      <option value="1">Văn Nghệ</option>
      <option value="1">Văn Nghệ</option>
      <option value="1">Văn Nghệ</option>
    </select>
  </div>
  <div class="form-row">
    <label for="startdate"> Ngày diễn ra sự kiện</label>
    <input name="startdate" id="startdate" type="date" />

    <label for="starttime">Thời gian</label>
    <input name="starttime" id="starttime" type="time" />

    <label for="abouttime">Khoảng thời gian</label>
    <input type="text" name="abouttime" id="abouttime" />
  </div>
  <div class="form-row">
    <label for="choseImange">Chọn Hình Ảnh</label>
    <input name="choseImange" id="choseImange" type="file" />
  </div>
  <div class="form-row">
    <label for="descriptiontle">Mô tả</label>
    <input
      name="descriptiontle"
      id="descriptiontle"
      type="text"
      placeholder="Điền Mô tả"
    />
  </div>
  <div class="form-row">
    <label for="location">Chọn Nơi diễn ra sự kiện</label>
    <input name="location" id="location" type="text" placeholder="chọn địa điểm" />
  </div>
</Form>
<input type="submit" value="Đăng Event">
